.brick
  margin-bottom: 1em
  column-gap: 1em
  break-inside: avoid
  transition: all 0.3s ease-in

.masonry-attributes
  @media only screen and (min-width: 200px)
    column-count: 1

  @media only screen and (min-width: 400px)
    column-count: 2

  @media only screen and (min-width: 600px)
    column-count: 1

  @media only screen and (min-width: 800px)
    column-count: 2

  @media only screen and (min-width: 1000px)
    column-count: 3

  @media only screen and (min-width: 1200px)
    column-count: 2

  @media only screen and (min-width: 1400px)
    column-count: 3

.masonry-objects
  @media only screen and (min-width: 600px)
    column-count: 2

  @media only screen and (min-width: 1200px)
    column-count: 3

// Fix a weird issue in which an apparently random subset of the buttons
// have their text and icons disappear by enabling 3d rendering
// specifically on the icons. Why does this help?
.ui-icon
  transform: translateZ(0)
